<footer id="bottom" data-anchor="true" data-name="Footer" class="o_footer o_colored_level o_cc ">
  <div id="footer" class="oe_structure oe_structure_solo" data-oe-id="1338" data-oe-xpath="/data/xpath/div" data-oe-model="ir.ui.view" data-oe-field="arch">
    <section class="s_text_block" data-snippet="s_text_block" data-name="Text" style="background-image: none;">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-2 pt16 pb16 o_colored_level">
            <a href="/" class="o_footer_logo logo" data-bs-original-title="" title="">
              <img ngSrc="assets/img/logo.png" alt="" class="img-fluid mx-auto img o_we_custom_image" width="291" loading="lazy" style=""
                   height="131">
            </a>
          </div>
          <div class="col-lg-5 d-flex align-items-center justify-content-center justify-content-lg-start pt16 pb16">
            <ul class="list-inline mb-0 ms-3">
              <li class="list-inline-item"><a href="/">Page d'accueil</a></li>
              <li class="list-inline-item"><a href="#">À propos de nous</a></li>
              <li class="list-inline-item"><a href="#">Produits</a></li>
              <li class="list-inline-item"><a href="#">Interventions</a></li>
              <li class="list-inline-item">
                <a href="/privacy">Politique vie privée</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-2 pt16 pb16">
            <a href="/contactus" class="btn btn-block btn-primary">Entrer en contact</a>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="o_footer_copyright o_colored_level o_cc">
    <div class="container py-3">
      <div class="row">
        <div class="col-sm text-center text-sm-start text-muted">
          <span class="o_footer_copyright_name me-2">Copyright ©&nbsp;Bellhorizon</span>
        </div>
      </div>
    </div>
  </div>
</footer>
