<ion-footer>
  <ion-toolbar>
    <ion-row class="ion-justify-content-around">
      <ion-col size="auto">
        <ion-button fill="clear" routerLink="/signalement">
          <ion-icon name="alert-circle" slot="start"></ion-icon>
          <ion-label>Signaler un problème</ion-label>
        </ion-button>
      </ion-col>
      <ion-col size="auto">
        <ion-button fill="clear" routerLink="/contact">
          <ion-icon name="mail" slot="start"></ion-icon>
          <ion-label>Contact</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
