<ion-header>
  <ion-toolbar>
    <ion-title>Annonces</ion-title>
  <ion-buttons slot="end">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card *ngFor="let annonce of annonces">
    <ion-card-header>
      <ion-card-title>{{ annonce.titre }}</ion-card-title>
      <ion-card-subtitle>{{ annonce.date | date }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      {{ annonce.description }}
    </ion-card-content>
  </ion-card>
</ion-content>
