<ion-header>
  <ion-toolbar>
    <ion-title>Connexion</ion-title>
  <ion-buttons slot="end">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input type="email" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Mot de passe</ion-label>
    <ion-input type="password" required></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="onLogin()">Se connecter</ion-button>
  <p>Pas encore inscrit ? <a routerLink="/register">Créer un compte</a></p>
</ion-content>
