<div id="wrap" class="oe_structure">
  <section class="s_banner pb120 pt256 o_colored_level oe_img_bg o_bg_img_center"
           style="background-image: url('https://bellorizon1.odoo.com/web_editor/shape/theme_buzzy/s_banner.svg?c1=o-color-1'); background-position: 50% 37%;"
           data-oe-shape-data="{&quot;shape&quot;:&quot;web_editor/Origins/02_001&quot;,&quot;flip&quot;:[]}"
           data-snippet="s_banner" data-name="Bannière">
    <div class="o_we_shape o_web_editor_Origins_02_001 o_header_extra_shape_mapping"></div>
    <div class="container">
      <div class="row s_nb_column_fixed" data-row-count="11">
        <div class="justify-content-center g-height-8 col-lg-6 o_cc o_cc1 pt32 pb32 shadow rounded o_colored_level"
             data-name="Box">
          <h1 class="display-3">
            Résidence<br/>BELLÔRIZON&nbsp;<br/></h1>
          <p class="lead">Bienvenue sur le site de la résidence Bellorizon. Consultez toutes les informations en ligne
            et communiquez avec vos voisins.<br/></p>
          <p class="mb-0">
            <a class="btn btn-primary btn-lg" href="/bellorizon-news" data-bs-original-title="" title="">Les dernières
              infos&nbsp;<span class="fa fa-angle-right ms-2"></span></a>
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="s_text_image o_cc o_cc2 pt72 pb72 o_colored_level" data-snippet="s_text_image"
           data-name="Texte - Image" style="background-image: none;">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 pt16 pb16 o_colored_level">
          <h2>&nbsp;Vous cherchez un coin sympa, un commerce ou autre ?<br/></h2>
          <p><br/></p>
          <p>&nbsp;Voici la liste complète des centres d'intérêt de Jonzier-Epagny, avec les horaires d'ouverture et
            quelques informations supplémentaires que nous avons recueillies auprès de vos voisins.&nbsp;</p>
          <p>Parce que qui de mieux que les habitants locaux pour vous donner les meilleurs conseils sur les endroits à
            découvrir près de chez vous ?</p>
          <p><a href="/les-bon-plans" class="btn btn-secondary" data-bs-original-title="" title="">Découvrir la
            liste</a><br/></p></div>
        <div class="col-lg-6 pt16 pb16">
          <img ngSrc="/assets/img/accueil.svg" class="img img-fluid mx-auto" alt="" height="828" width="996"
               style="padding: 32px !important;" loading="lazy"/>
        </div>
      </div>
    </div>
  </section>
  <section class="s_three_columns o_cc o_cc2 pt32 pb32 o_colored_level" style="background-image: none;">
    <div class="o_we_shape o_web_editor_Airy_12_001"></div>
    <div class="container">
      <div class="row d-flex align-items-stretch">
        <div class="col-lg-4 s_col_no_bgcolor pt16 pb16">
          <div class="card text-bg-white h-100">
            <img class="card-img-top" ngSrc="/assets/img/shop.svg" alt=""
                 style="padding: 32px !important;" loading="lazy" width="348" height="348"/>
            <div class="card-body">
              <h3 class="card-title">&nbsp;Travaux<br/></h3>
              <p class="card-text">&nbsp;Si vous êtes à la recherche d'un artisan qualifié pour résoudre un problème
                dans votre appartement ou si vous souhaitez concrétiser un projet de construction, nous vous
                recommandons vivement de consulter la liste complète des professionnels du bâtiment disponibles.</p>
              <p class="card-text"><br/></p>
              <p><a class="btn btn-primary" href="/artisants" data-bs-original-title="" title="">Voir plus</a><br/></p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 s_col_no_bgcolor pt16 pb16">
          <div class="card text-bg-white h-100">
            <img class="card-img-top" ngSrc="/assets/img/stats.svg" alt=""
                 style="padding: 32px !important;" loading="lazy" width="348" height="348"/>
            <div class="card-body">
              <h3 class="card-title">
                Chauffage&nbsp;<br/></h3>
              <p class="card-text">Vous trouverez ici toutes les notices et recommandations nécessaires pour régler
                efficacement votre système de chauffage et profiter d'un hiver agréablement douillet.&nbsp;Pas la
                peine de vous prendre la tête, toutes les informations dont vous avez besoin sont facilement accessibles
                en ligne !</p>
              <p class="card-text"><br/></p>
              <p><a class="btn btn-primary" href="/chauffage" data-bs-original-title="" title="">Voir plus</a><br/></p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 s_col_no_bgcolor pt16 pb16">
          <div class="card text-bg-white h-100">
            <img class="card-img-top" ngSrc="/assets/img/sign.svg" alt="" width="348" height="348"
                 style="padding: 32px !important;" loading="lazy"/>
            <div class="card-body">
              <h3 class="card-title">Le Syndic</h3>
              <p class="card-text">Ne perdez plus de temps à chercher les contacts et les dernières informations du
                syndic. Vous pouvez tout avoir à portée de main, directement sur votre téléphone. Restez informé en
                temps réel et contactez facilement le syndic en quelques clics.<br/></p>
              <p><a class="btn btn-primary" href="/blog/syndic-de-copro-5" data-bs-original-title="" title="">Voir
                plus</a><br/></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="s_text_image o_cc o_cc2 pt72 pb72 o_colored_level" data-snippet="s_image_text"
           data-name="Texte - Image" style="background-image: none;">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 pt16 pb16 o_colored_level">
          <img ngSrc="/assets/img/desk.svg" class="img img-fluid mx-auto" alt=""
               style="padding: 32px !important;" width="996" height="828" loading="lazy"/>
        </div>
        <div class="col-lg-6 pt16 pb16 o_colored_level">
          <h2>Le troc Bellôrizon</h2>
          <p><br/></p>
          <p>Vous avez des outils, du matériel ou des compétences que vous souhaitez partager ?</p>
          <p>Vous possédez peut-être un reste de peinture dont vous n'avez plus besoin ?</p>
          <p>Faites-le nous savoir afin que nous puissions en faire profiter la communauté !</p>
          <p>C'est facile et cela permettra à chacun de bénéficier de vos ressources.</p>
          <p>Alors, n'hésitez pas à nous contacter et à contribuer à cette initiative collaborative.</p>
          <p><a href="#" class="btn btn-secondary">Découvrir plus</a></p>
        </div>
      </div>
    </div>
  </section>
  <section class="s_call_to_action o_cc o_cc5 pt88 pb48 o_colored_level" style="background-image: none;">
    <div class="o_we_shape o_web_editor_Rainy_08_001 o_footer_extra_shape_mapping"></div>
    <div class="o_container_small">
      <div class="row">
        <div class="pb16 col-lg-8 o_colored_level">
          <h3>
            <b>Vous avez une question ? une sugestion ?</b>
            <br/></h3>
          <p>
            N'hésitez pas à nous contacter.<br/></p>
        </div>
        <div class="pt8 col-lg-4">
          <p style="text-align: right;">
            <a class="btn btn-primary btn-lg" href="/contactus">Contactez-nous</a>
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
